{{template "base" .}}

{{define "content"}}
<div class="container">
       
       
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
        <h1 class="mt-5">Search for Availability</h1>
            <form action="/search-availability" method="POST" novalidate class="needs-validation" >
                <!-- select start date -->
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>
              <div class="form-row">
                <div class="col">
                  <div class="form-row" >
                    <div class="col" >
                    <input required type="text" name="start" class="form-control" id="reservation-dates" placeholder="Arrival">
                    <div id="startDateHelp" class="form-text">Enter your starting date in the form of YYYY-MM-DD</div>
                    </div>
                    
                  <div class="col">
                    <input required type="text" name="end" class="form-control" id="reservation-date" placeholder="Departure">
                    <div id="endDateHelp" class="form-text">Enter your ending date in the form of YYYY-MM-DD</div>
                  </div>
                  </div>
                </div>
              </div>

                 <!-- select end date -->
              <hr>
              <button type="submit" class="btn btn-primary">Search Availability</button>
            </form>
  </div>
</div>

{{end}}

{{define "js"}}

    <script>
        const elem = document.getElementById("reservation-dates");
        const elem2 = document.getElementById("reservation-date");
        let datepicker = new Datepicker(elem, {
        format: "yyyy-mm-dd"
        });
        let datepickers = new Datepicker(elem2,{
            format: "yyyy-mm-dd"
         });
    </script>

{{end}}